doctype html
html
  include bootstrap_top.pug

  body
    include navbar.pug
    
    div(class="container")
      div(class="row")
        div(class="col")
          h1(class="row justify-content-center") Log In
          if showlogout
            div(class="row justify-content-md-center")
              div(class="alert alert-info" role="alert") Logged out.
          if showlogfail
            div(class="row justify-content-md-center")
              div(class="alert alert-warning" role="alert") Incorrect username or password.
          div(class="row justify-content-md-center")
            form(action="/login" method="post")
              input(type="email" class="form-control" id="login_email" name="email" placeholder="Email address" required)
              input(type="password" class="form-control" id="login_password" name="pass" placeholder="Password" required)
              button(type="submit" class="btn btn-primary") Login 
        div(class="col")
          h1(class="row justify-content-center") Join a Class
          div(class="row justify-content-md-center")
            if showjoinerr
              case error.err
                when 'invalid-code'
                  div(class="alert alert-warning" role="alert") Invalid access code.
                when 'postgres'
                  div(class="alert alert-warning" role="alert") Database backend error.
          div(class="row justify-content-md-center")
            form(autocomplete="off" action="/newuser" method="get")
              input(type="text" class="form-control" id="newuser_code" name="code" placeholder="Access code" required)
              button(type="submit" class="btn btn-primary") Join
    include bootstrap_bot.pug